@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&family=Lato:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Lato", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(#333134, #29272a);
  color: #f6ecfb;
  min-height: 100vh;
}

img {
  display: block;
  margin: 3rem auto;
  width: 10rem;
  height: 10rem;
  object-fit: contain;
  filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.7));
}

h1,
p {
  text-align: center;
}

button {
  font: inherit;
  padding: 0.25rem 1rem;
  border-radius: 4px;
  background-color: #c36eed;
  border: 1px solid #c36eed;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
}

button:hover {
  background-color: #bd56f1;
  border-color: #bd56f1;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
}

.container {
  max-width: 500px;
  margin: 2rem auto;
  background: rgba(40, 38, 44, 0.85);
  border-radius: 12px;
  box-shadow: 0 2px 16px rgba(0, 0, 0, 0.4);
  padding: 2rem 2.5rem 2.5rem 2.5rem;
}

app-click-counter,
app-interval-display,
app-custom-interval {
  display: block;
  margin: 2rem 0;
}

app-click-counter button {
  margin: 0 auto 1rem auto;
  display: block;
}

app-custom-interval p {
  font-size: 1.1rem;
  color: #ffe6ff;
  margin-top: 1rem;
}
